@model DealerLead.Dealership

<p>Name - @Model.DealershipName</p>
<p>Street Address 1 - @Model.StreetAddress1</p>
<p>Street Address 2 - @Model.StreetAddress2</p>
<p>City - @Model.City</p>
<p>State - @ViewBag.State.Name</p>
<p>Zipcode - @Model.Zipcode</p>
<form method="post" action="/Dealerships/Delete/@Model.DealershipId">
    <input type="submit" value="Delete" />
</form>
<a href="/Dealerships">Back to List</a></p>