@model DealerLead.Dealership


<table class="table w-50">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.DealershipName</td>
        </tr>
        <tr>
            <th scope="row">Street Address 1</th>
            <td>@Model.StreetAddress1</td>
        </tr>
        <tr>
            <th scope="row">Street Address 2</th>
            <td>@Model.StreetAddress2</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th scope="row">State</th>
            <td>@ViewBag.State.Name</td>
        </tr>
        <tr>
            <th scope="row">Zipcode</th>
            <td>@Model.Zipcode</td>
        </tr>
    </tbody>
</table>
<p><a href="/Dealerships/Edit/@Model.DealershipId">Edit</a> | <a href="/Dealerships">Back to List</a></p>